@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primary: #fff;
$secondary: #000;
$trinary: #ed1c24;
$bg-topnav: #52576a;
$bg-color: #000;
$bg-disabled: #000;
$text-disabled: #888888;

$body-font-size: 20px;
$border-radius: 0px;
$h1-size: 4rem;
$body-line-height: 1.1;
$border: 1px solid $bg-color;

* {
  outline: none;
}

@font-face {
  font-family: TraReg;
  src: url("./assets/fonts/TrajanPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: TraBold;
  src: url("./assets/fonts/TrajanPro-Bold.otf") format("opentype");
}




.line-box{

  position:absolute;
  left:8rem;
  right:8rem;
  top:8rem;
  bottom:8rem;
  width:auto;
  height:auto;
  transition:all 0.5s ease;
  .line-top-a{  transition:all 0.5s ease;

    top:0px;left:0px;right:50%;height:1px;
    position:absolute;background-color:$trinary;}
  .line-top-b{  transition:all 0.5s ease;

    top:0px;right:0px;left:50%;height:1px;
    position:absolute;background-color:$trinary;}

  .line-bottom-a{  
    transition:all 0.5s ease;
    height:1px;
    bottom:0px;
    left:0px;
    right:50%;

    position:absolute;background-color:$trinary;}
  .line-bottom-b{  transition:all 0.5s ease;
    height:1px;
    bottom:0px;
    left:50%;
    right:0px;

    position:absolute;background-color:$trinary;}

  .line-left-a{  transition:all 0.5s ease;
    width:1px;
    top:0px;bottom:50%;
    left:0px;
    position:absolute;background-color:$trinary;}
  .line-left-b{  transition:all 0.5s ease;
    width:1px;
    bottom:0px;top:50%;
    left:0px;

    position:absolute;background-color:$trinary;}

  .line-right-a{  transition:all 0.5s ease;
    width:1px;top:0px;bottom:50%;
right:0px;
    position:absolute;background-color:$trinary;}
  .line-right-b{  transition:all 0.5s ease;
    width:1px;
    right:0px;
bottom:0px;top:50%;
    position:absolute;background-color:$trinary;}

  }
.iconmenu{position:fixed;top:4rem;right:2rem;}
  .menutop{
    right:8rem;
    top:4rem;
    position:fixed;
    z-index:100;  
    
}
.menuitem{margin-right:8px;font-family: 'TraReg', sans-serif;color:$primary;}
.menulist{display:flex;flex-flow:row;}
/*
.line-box:hover{
  .line-top-a{right:100%;}
  .line-top-b{left:100%;}
  .line-bottom-a{right:100%;}
  .line-bottom-b{left:100%;}
  .line-right-a{bottom:100%;}
  .line-right-b{top:100%;}
  .line-left-a{bottom:100%;}
  .line-left-b{top:100%;}
}
*/

.icontop{
  display:flex;
  left:2rem;
  top:2rem;
  position:absolute;
  height:6rem;
  width:6rem;
  flex-flow:column;
  justify-content:center;
  z-index:100;

    &img{width:auto;height:min-content;margin:auto;
    }
}

a:hover{color:$trinary;text-decoration:none;}
p{    

  font-family: 'Open Sans', sans-serif;
}

h1{font-size:2.5rem!important;}

h1, h2, h3{
  font-family: 'TraReg', sans-serif;

}

.bigfont{    font-family: 'Roboto', sans-serif;}

html, body, #app {
  color: white;
  overflow-y:hidden!important;
  overflow-x:hidden!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app{
  height:100vh;
  width:100vw;
  margin:unset;
  position:fixed;
  background-size:cover;
  background-position:center;
  background-image:url("./assets/background.png");
}

.full-wrapper{
}

@media screen and (max-width:900px) {
  .menutop{
    right:6rem;
    top:1rem;
    position:fixed;
    z-index:100;  
    
}
  .icontop{display:flex;left:1rem;top:1rem;position:absolute;height:3rem;width:3rem;flex-flow:column;justify-content:center;}

  .iconmenu{position:fixed;top:1rem;right:1rem;}


.line-box{

  position:absolute;
  left:2rem;
  right:2rem;
  top:4rem;
  bottom:2rem;
  width:auto;
  height:auto;
  transition:all 0.5s ease;
  .line-top-a{  transition:all 0.5s ease;

    top:0px;left:0px;right:50%;height:1px;
    position:absolute;background-color:$trinary;}
  .line-top-b{  transition:all 0.5s ease;

    top:0px;right:0px;left:50%;height:1px;
    position:absolute;background-color:$trinary;}

  .line-bottom-a{  
    transition:all 0.5s ease;
    height:1px;
    bottom:0px;
    left:0px;
    right:50%;

    position:absolute;background-color:$trinary;}
  .line-bottom-b{  transition:all 0.5s ease;
    height:1px;
    bottom:0px;
    left:50%;
    right:0px;

    position:absolute;background-color:$trinary;}

  .line-left-a{  transition:all 0.5s ease;
    width:1px;
    top:0px;bottom:50%;
    left:0px;
    position:absolute;background-color:$trinary;}
  .line-left-b{  transition:all 0.5s ease;
    width:1px;
    bottom:0px;top:50%;
    left:0px;

    position:absolute;background-color:$trinary;}

  .line-right-a{  transition:all 0.5s ease;
    width:1px;top:0px;bottom:50%;
right:0px;
    position:absolute;background-color:$trinary;}
  .line-right-b{  transition:all 0.5s ease;
    width:1px;
    right:0px;
bottom:0px;top:50%;
    position:absolute;background-color:$trinary;}

}

}